/*! project specific CSS goes here. */


.main, .side {
    height: 100%;
}
.navigation, .brand {
    padding: 10px 0px 10px 0px;
}
.small-header {
    padding: 10px 10px 10px 10px;
}
.small-header {
    line-height: 100px
}
div.media {
    padding: 10px 10px 10px 10px;
}
div.media-body {
    overflow: hidden;
}

div.media {
    display: none;
}
body {
   /*padding-top: 30px;*/
   padding-bottom: 20px;
}

.alignleft {
    float: left
}
.alignright {
    float: right
}

.playlists {
    padding-bottom: 50px
}

.top-bar {
    background-color: #f7efef;
    padding-bottom: 10px;
/*    width: 960px; */
    margin-top: 30px;
    
}
.top-bar-align{
    padding-left: 30px;
}

.p-info {
    padding-bottom: 20px;
}

p.group-item {
    margin-bottom: 0px;
    line-height: 15px;
}

.top-bar-items {
    padding-left: 20px;
}


div.items {
    float: left;
    padding-right: 10px;
}

#page-wrap {
    width: 600px;
    margin: 15px auto;
    position: relative;
}

#sidebar {
    width: 190px;
    position: fixed;
    margin-left: 10px;
}

p.row-item {
    line-height: 10px;
    margin-bottom: 3px;
}

.content {
    padding-top: 200px;
}

.anchor {
    display: block;
    position: relative;
    top: -200px;
    visibility: hidden;
}

.stButton {
    font-family: "Liberation Serif";
    font-size: 12px;
}





