{% extends "playlister_base_onecol.html" %}

{% block title %}{{playlist.name}}{% endblock %}


{% block content %}

<div class="span6">
    <div class="row-fluid">
        <div class="span12">

            <div class="header">
                <h4>{{playlist.name}}</h4>
            </div>

            <div class="well">

                <ul class="media-list">

                    {% for song in playlist.song_set.all %}

                    <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src={{song.cover_url}}
                        alt="64x64" style="height: 64; width: 64;">
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading">{{song.title}}</h5>
                        <p>{{song.artist}} &middot; {{song.album}}</p>
                    </div>
                    </li>

                    {% endfor %}

                </ul>

            </div>
        </div>
    </div>
</div>

<div class="span6">
    <div class="row-fluid">
        <div class="span12">
            <div class="header">
                <h4>playlists similar to this one</h4>
            </div>

            <!-- can fit two 120x120 playlist media objects side-by-side:
            'similar' is a list of length 2 lists -->
            {% for playlists in similar %}
            <div class="row-fluid">
                {% for playlist in playlists %}

                <div class="span6">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src={{playlist.cover_url}}
                            alt="x120" style="height: 120; width: 120;">
                        </a>
                        <div class="media-body">
                            <h6 class="media-heading">{{playlist.name}}</h6>
                            <p class="muted">featured artists: {{playlist.featured_artists}}</p>
                            <p class="muted">{{playlist.description}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
